<script>
  import Nav from "./_components/Nav.svelte";
  import Variables from "../components/Variables.svelte";
  import YandexMetrika from "./_components/YandexMetrika.svelte";
  export let segment;
</script>

<Nav {segment}/>

<main>
  <slot />
</main>
<Variables />
<YandexMetrika />

<style>
  :global(#sapper) {
    display: flex;
    max-height: 100vh;
  }
  :global(body) {
    background: white;
    height: 100%;
  }
  main {
    overflow: auto;
    flex-grow: 1;
    padding: 16px;
  }
</style>
