<script>
  import * as components from "../demo/";
  import Typography from "../../components/Typography.svelte";

  export let segment;
</script>

<nav>
  <a href="." class="logoLink">
    <div class="logo">

      <svg width="29" height="32" viewBox="0 0 29 32" fill="none">

        <path
          d="M20.022 24.7012H8.97803L6.87842 31H0.180664L11.5605
          0.429688H17.3975L28.8403 31H22.1426L20.022 24.7012ZM10.6787
          19.5991H18.3213L14.479 8.15625L10.6787 19.5991Z"
          fill="#F01526" />

      </svg>

      <Typography block type="white">Svelte Atoms</Typography>

    </div>

  </a>
  <div class="links">

    {#each Object.keys(components).sort() as link}
      <a
        class="link"
        class:selected={segment === link}
        href={`${link}`}>
        {link}
      </a>
    {/each}
  </div>
</nav>

<style>
  .logo {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--pallete-white);
  }
  .logoLink {
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at 79% 50%, #364c59, #273842);
  }
  .links {
    margin-top: 16px;
    flex-grow: 1;
    overflow: auto;
  }
  .link {
    padding: 0px 16px 4px 13px;
    display: block;
    color: var(--palette-white);
    text-decoration: none;
    border-left: 3px solid transparent;
  }
  .selected {
    border-left: 3px solid var(--palette-primary-1);
  }
</style>
