<script>
  import Alert from "../../components/Alert.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import Button from "../../components/Button.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    status: {
      type: "enum",
      options: "primary, positive, negative, warning, noactive"
    },
    icon: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    },
    isOpen: {
      type: "boolean"
    },
    closable: {
      type: "boolean"
    }
  };

  const onClose = () => alert("closed");
  let isOpen = true;
  const close = () => (isOpen = false);
</script>

<DemoPage name="Alert" {props}>
  <Example
    code={`${'<'}script>
  import Alert from "svelte-atoms/Alert.svelte";
</script>

<Alert>Simple alert</Alert>
`}>
    <Alert>Simple alert</Alert>
  </Example>

  <Example
    code={`${'<'}script>
  import Alert from "svelte-atoms/Alert.svelte";
</script>

<Alert status="negative">
  Negative alert
  <div slot="description">With description</div>
</Alert>
<Alert status="positive" icon="check" closable>
  Positive closable
  <div slot="description">With custom icon</div>
</Alert>
<Alert status="warning">
  Warning
  <div slot="description">With content</div>
  <div slot="content"><Button>Action</Button></div>
</Alert>
`}>
    <Alert status="negative">
      Negative alert
      <div slot="description">With description</div>
    </Alert>
    <Spacer />
    <Alert status="positive" icon="check" closable>
      Positive closable
      <div slot="description">With custom icon</div>
    </Alert>
    <Spacer />
    <Alert status="warning">
      Warning
      <div slot="description">With content</div>
      <div slot="content">
        <Button>Action</Button>
      </div>
    </Alert>
  </Example>

  <Example
    code={`${'<'}script>
  import Alert from "svelte-atoms/Alert.svelte";
  const onClose = () => alert("closed");
</script>

<Alert status="noactive" on:close={onClose} closable>Primary with event</Alert>
`}>
    <Alert status="noactive" on:close={onClose} closable>
      Primary with event
    </Alert>
  </Example>

  <Example
    code={`${'<'}script>
  import Alert from "svelte-atoms/Alert.svelte";
  let isOpen = true;
  const close = () => (isOpen = false);
</script>

 <Alert status="primary" bind:isOpen closable>
    Primary controlled
    <div slot="content">
    <Button on:click={close}>Close</Button>
    </div>
</Alert>
`}>
    <Alert status="primary" bind:isOpen closable>
      Primary controlled
      <div slot="content">
        <Button on:click={close}>Close</Button>
      </div>
    </Alert>
  </Example>

</DemoPage>
