<script>
  import Block from "../../components/Block.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import Typography from "../../components/Typography.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    type: {
      type: "enum",
      options:
        "block, disabled, block2, block3, popup, add, alert, selected, dark"
    }
  };
</script>

<DemoPage name="Block" {props}>
  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="disabled">
  <Typography>Disabled</Typography>
</Block>
`}>
    <Block type="disabled">
      <Typography>Disabled</Typography>
    </Block>
  </Example>
  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="block1">
  <Typography>block1</Typography>
</Block>
`}>
    <Block type="block1">
      <Typography>block1</Typography>
    </Block>
  </Example>

  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="block2">
  <Typography>block2</Typography>
</Block>
`}>
    <Block type="block2">
      <Typography>block2</Typography>
    </Block>
  </Example>

  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="block3">
  <Typography>block3</Typography>
</Block>
`}>
    <Block type="block3">
      <Typography>block3</Typography>
    </Block>
  </Example>

  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="popup">
  <Typography>popup</Typography>
</Block>
`}>
    <Block type="popup">
      <Typography>popup</Typography>
    </Block>
  </Example>

  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="add">
  <Typography>add</Typography>
</Block>
`}>
    <Block type="add">
      <Typography>add</Typography>
    </Block>
  </Example>

  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="alert">
  <Typography>alert</Typography>
</Block>
`}>
    <Block type="alert">
      <Typography>alert</Typography>
    </Block>
  </Example>

  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="selected">
  <Typography>selected</Typography>
</Block>
`}>
    <Block type="selected">
      <Typography>selected</Typography>
    </Block>
  </Example>

  <Example
    code={`${'<'}script>
  import Block from "svelte-atoms/Block.svelte";
  import Typography from "svelte-atoms/Typography.svelte";
</script>

<Block type="dark">
  <Typography type="white">dark</Typography>
</Block>
`}>
    <Block type="dark">
      <Typography type="white">dark</Typography>
    </Block>
  </Example>

</DemoPage>
