<script>
  import Chip from "../../components/Chip.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    selected: {
      type: "boolean"
    },
    text: {
      type: "string"
    },
    iconLeft: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    },
    iconRight: {
      type: "string|array",
      description: "icon name or valid SVG path(es)"
    },
    onClose: {
      type: "function"
    },
    editable: {
      type: "boolean"
    },
    onChange: {
      type: "function(text)"
    }
  };
  const onClose = () => alert("close");
</script>

<DemoPage name="Chip" {props}>
  <Example
    code={`${'<'}script>
  import Chip from "svelte-atoms/Chip.svelte";
</script>

<Chip text="Basic Usage" />
<Chip selected text="Selected" />
`}>
    <Chip text="Basic Usage" />
    <Chip selected text="Selected" />
  </Example>

  <Example
    code={`${'<'}script>
  import Chip from "svelte-atoms/Chip.svelte";
</script>

<Chip text="With right icon" iconRight="check" />
<Chip text="With left icon" iconLeft="check" />
`}>
    <Chip text="With right icon" iconRight="check" />
    <Spacer />
    <Chip text="With left icon" iconLeft="check" />
  </Example>

  <Example
    code={`${'<'}script>
  import Chip from "svelte-atoms/Chip.svelte";
  const onClose = () => alert('close');
</script>

<Chip onClose={onClose} text="On Close" />
<Chip text="Editable" editable />
`}>
    <Chip {onClose} text="On Close" />
    <Chip text="Editable" editable />
  </Example>
</DemoPage>
