<script>
  import FileUpload from "../../components/FileUpload.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  let isActive = true;
  const props = {
    title: {
      type: "string"
    },
    subtitle: {
      type: "string"
    },
    isLoading: {
      type: "boolean"
    },
    disabled: {
      type: "boolean"
    },
    status: {
      type: "enum",
      options: "primary, nooactive, positive, negative"
    }
  };
  let fileName = "";
  const onChange = e => {
    const file = e.target.files[0];
    fileName = file ? file.name : "";
  };
</script>

<DemoPage name="FileUpload" {props}>
  <Example
    code={`${'<'}script>
  import FileUpload from "svelte-atoms/FileUpload.svelte";
  
  let fileName = "";
  const onChange = e => {
    const file = e.target.files[0];
    fileName = file ? file.name : "";
  };
</script>

<FileUpload title="Upload file" subtitle={fileName} />
`}>
    <FileUpload title="Upload file" subtitle={fileName} on:change={onChange} />
  </Example>

  <Example
    code={`${'<'}script>
  import FileUpload from "svelte-atoms/FileUpload.svelte";
</script>

<FileUpload title="Loading" subtitle="Please wait" isLoading />
`}>
    <FileUpload title="Loading" subtitle="Please wait" isLoading />
  </Example>

  <Example
    code={`${'<'}script>
  import FileUpload from "svelte-atoms/FileUpload.svelte";
</script>

<FileUpload title="Disabled" subtitle="Not clickable" disabled />
`}>
    <FileUpload title="Disabled" subtitle="Not clickable" disabled />
  </Example>

  <Example
    code={`${'<'}script>
  import FileUpload from "svelte-atoms/FileUpload.svelte";
</script>

<FileUpload title="Uploaded" subtitle="click here to replace" status="positive" />
`}>
    <FileUpload
      title="Uploaded"
      subtitle="click here to replace"
      status="positive" />
  </Example>

  <Example
    code={`${'<'}script>
  import FileUpload from "svelte-atoms/FileUpload.svelte";
</script>

<FileUpload title="File type not supported" subtitle="select another file" status="negative" />
`}>
    <FileUpload
      title="File type not supported"
      subtitle="select another file"
      status="negative" />
  </Example>

</DemoPage>
