<script>
  import Progress from "../../components/Progress.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    min: {
      type: "number"
    },
    max: {
      type: "number"
    },
    value: {
      type: "number"
    },
    status: {
      type: "boolean",
      options: "primary, positive, negative, warning, noactive"
    },
  };
</script>

<DemoPage name="Progress" {props}>
  <Example
    code={`${'<'}script>
  import Progress from "svelte-atoms/Progress.svelte";
</script>

<Progress value={20} />
`}>
    <Progress value={20} />
  </Example>
  <Example
    code={`${'<'}script>
  import Progress from "svelte-atoms/Progress.svelte";
</script>

<Progress value={75} min={50} max={100}>Title</Progress>
`}>
    <Progress value={75} min={50} max={100}>Title</Progress>
  </Example>

  <Example
    code={`${'<'}script>
  import Progress from "svelte-atoms/Progress.svelte";
</script>

<Progress value={10} status="primary">Positive</Progress>
<Progress value={10} status="positive">Positive</Progress>
<Progress value={20} status="negative">Negative</Progress>
<Progress value={30} status="warning">Warning</Progress>
<Progress value={40} status="noactive">Noactive</Progress>
`}>
    <Progress value={10} status="primary">Primary</Progress>
    <Spacer />
    <Progress value={10} status="positive">Positive</Progress>
    <Spacer />
    <Progress value={20} status="negative">Negative</Progress>
    <Spacer />
    <Progress value={30} status="warning">Warning</Progress>
    <Spacer />
    <Progress value={40} status="noactive">Noactive</Progress>
  </Example>

</DemoPage>
