<script>
  import Typography from "../../components/Typography.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  const props = {
    size: {
      type: "number"
    }
  };
</script>

<DemoPage name="Spacer" {props}>
  <Typography>Size 8</Typography>
  <Spacer size={8} />

  <Typography>Size 16</Typography>
  <Spacer size={16} />

  <Typography>Size 32</Typography>
  <Spacer size={32} />

  <Typography>end</Typography>
</DemoPage>
